<div class="container">
    <div class="row" style="display: flex;justify-content: center;align-items: center">
        <div class="col-xs-8">
            <div style="border: 2px solid #2066a3;border-radius: 10px;margin-top: 50px;">
                <div class="card-header bg-primary" style="border-radius: 8px 8px 0 0;padding: 15px">
                    <h4>My Card Title</h4>
                </div>
                <div class="card-body" style="padding: 20px;margin-bottom: 25px">
                    <form>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject"
                                   placeholder="Subject"
                            ng-model="subject"
                            >
                        </div>
                        <div class="form-group">
                            <label for="subject">Code</label>
                            <input type="text" class="form-control" id="Code"
                                   placeholder="Code"
                                   ng-model="code"
                            >
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
